
@{
    ViewBag.Title = "Commercial Invoices";
}
<h1>ใบกำกับสินค้า (Commercial Invoices)</h1>
<table id="tbl" class="table table-responsive">
    <thead>
        <tr>
            <th>Reference No</th>
            <th>Invoice No</th>
            <th>Invoice Date</th>
        </tr>
    </thead>
</table>
<script type="text/javascript">
    var path = '@Url.Content("~")';
    var urlSource = path + 'Invoice/getDecInvoice_Header';
    function parseJsonDate(jsonDateString) {
        return new Date(parseInt(jsonDateString.replace('/Date(', '')));
    }
    function formatDate(date) {
        try {
            var yyyy = date.getFullYear();
            var mm = (date.getMonth() + 1);
            var dd = date.getDate();
            if (yyyy == 1900) {
                return "";
            }
            //return yyyy + '-' + (mm>=10 ? mm : "0" + mm) + '-' + (dd>=10 ? dd : "0" + dd);
            return (dd >= 10 ? dd : "0" + dd) + '/' + (mm >= 10 ? mm : "0" + mm) + '/' + yyyy;
        }
        catch (e) {
            return "";
        }
    }
    //Event ตอนเปิดเพจมาให้ load grid เลย
    $(document).ready(function () {
        showGrid();
    });
    function showGrid() {
        $('#tbl').DataTable({
            ajax: {
                url: urlSource, //web service ที่จะ call ไปดึงข้อมูลมา
                dataSrc: ''
            },
            selected: true, //ให้สามารถเลือกแถวได้
            columns: [ //กำหนด property ของ header column
                { data: "RefNO", title: "Reference" },
                { data: "InvNO", title: "Invoice No" },
                { data: null, title: "Invoice Date" },
            ],
            destroy: true, //ให้ล้างข้อมูลใหม่ทุกครั้งที่ reload page
            "columnDefs": [
            {
                "targets": 2,
                "data": null,
                "render": function (data, type, full, meta) {
                    var d = parseJsonDate(data.InvDate);
                    return formatDate(d);
                }
            }
            ]
        });
    }
</script>