@{
    ViewBag.Header = "ข้อมูลท่าต่างประเทศ";
}
    <script type="text/javascript">
        //กำหนดตัวแปรเก็บ path ของ web service ไว้ call ใน page นี้
        var path='@Url.Content("~")';
        var urlSource = path+ 'CustomsFile/getInterPort';
        var urlSave = path + 'CustomsFile/setInterPort';
        var urlCountry = path + 'CustomsFile/getCountry';
        var urlReport = path + 'ReportViewer.aspx?report=interport';
        //Event ตอนเปิดเพจมาให้ load grid เลย
        $(document).ready(function () {
            var qrystr = getUrlVars();
            if (qrystr.length > 0) {
                var countryCode = qrystr["countryCode"];
                if (countryCode != undefined) {
                    $('#txtCountry').val(countryCode);
                }
            }
            showGrid();
            loadCountry();
        });
        //ฟังก์ชั่นสำหรับ load Country ลงใน dropdown
        function loadCountry() {
            $.get(urlCountry)
                .done(function (data) {
                    if (data.length > 0) {
                        $('#selCountry').empty();
                        for (var i = 0; i < data.length; i++) {
                            $('#selCountry')
                                .append($('<option>', { value: data[i].countryCode })
                                .text(data[i].countryName));
                        }
                    }
                });
        }
        //function for get Querystring from URL
        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }
        //ฟังก์ชั่นสำหรับ get ข้อมูลจาก web service มาแสดงผลใน table
        function showGrid() {
            var rowid = 0;
            var country = $('#txtCountry').val();
            var filter = '';
            if (country != '') {
                filter = '?country=' + country;
            }
            //กำหนดค่า table grid
            $('#tbl').DataTable({
                ajax: {
                    url: urlSource + filter, //web service ที่จะ call ไปดึงข้อมูลมา
                    dataSrc: ''
                },
                selected: true, //ให้สามารถเลือกแถวได้
                columns: [ //กำหนด property ของ header column
			        { data: "oid", visible: false },
                    { data: null, title:"ลำดับที่" },
			        { data: "PortCode", title: "รหัสท่า" },
			        { data: "PortName", title: "ชื่อท่าต่างประเทศ" },
                    { data: "CountryCode", title: "รหัสประเทศ" },
                    { data: null ,title:"แก้ไข" }
                ],
                "columnDefs": [ //กำหนด control เพิ่มเติมในแต่ละแถว
                    {
                        "targets": 1, //column ที่ 0 เป็นหมายเลขแถว
                        "data": null,
                        "render": function (data, type, full, meta) {
                            rowid++;
                            return rowid;
                        }
                    },
                    {
                        "targets": 5,
                        "data": null,
                        "render": function (data, type, full, meta) {
                            var html = "<button id='btnEdit' class='btn btn-warning'>ID:" + data.oid + "</button>";
                            return html;
                        }
                    }
                ],
                destroy: true //ให้ล้างข้อมูลใหม่ทุกครั้งที่ reload page
            });
            //เซ็ตค่า Event ให้ เวลาเลือกแถวให้แสดงสีแถวที่ถูกเลือก
            $('#tbl tbody').on('click', 'tr', function () {
                $('#tbl tbody tr.selected').removeClass('selected'); //ล้างทุก row ที่มีการ select ก่อน
                $(this).addClass('selected'); //select row ใหม่
            });
            //กำหนด Event ให้เวลากดปุ่ม Edit ให้แดสงข้อมูลใน popup form
            $('#tbl tbody').on('click', '#btnEdit', function () {
                var dt = getRowData('#tbl', this);
                loadData(dt);
            });
        }
        //ฟังก์ชั่นสำหรับ get ข้อมูลจาก row ปัจจุบัน ที่ user เลือกอยู่
        function getRowData(tb, e) {
            var indexRow = $(e).parents('tr');
            return $(tb).DataTable().row(indexRow).data();
        }
        //ฟังก์ชั่นสำหรับเรียก popup ให้แสดงผล หรือซ่อน popup ที่แสดงอยู่
        function showPopupEditor(caption, action) {
            $('#lblHeader').text(caption);
            $('#modalEditor').modal(action);
        }
        //ฟังก์ชั่นสำหรับล้างหน้าจอ Editor ของ popup สำหรับการเพิ่มข้อมูลใหม่
        function newData() {
            $('#txtID').val('0');
            $('#txtCode').val('');
            $('#txtName').val('');
            $('#selCountry').val($('#txtCountry').val());
            //เปลี่ยนค่า header หน้าจอ edit และแสดงผล
            showPopupEditor('Add Data', 'show');
        }
        //ฟังก์ชั่นสำหรับอ่านข้อมูลแล้วแสดงผลในหน้าจอ popup
        function loadData(data) {
            $('#txtID').val(data.oid);
            $('#txtCode').val(data.PortCode);
            $('#txtName').val(data.PortName);
            $('#selCountry').val(data.CountryCode);
            //เปลี่ยนค่า header ของหน้าจอ edit แล้วโชว์ popup form
            var str = 'Edit Data : ' + data.CurrencyName + ' (' + data.CurrencyCode + ')';
            showPopupEditor(str, 'show');
        }
		//ฟังก์ชั่นสำหรับอ่านข้อมูลในหน้าจอ popup แล้ว convert เป็น class
		function getEditorData() {
		    var obj = {
		        oid: $('#txtID').val(),
		        PortCode: $('#txtCode').val(),
		        PortName: $('#txtName').val(),
                CountryCode: $('#selCountry').val()
		    };
		    return obj;
		}
		function searchData() {
		    $('#tbLOV').DataTable({
		        ajax: {
		            url: urlCountry, //web service ที่จะ call ไปดึงข้อมูลมา
		            dataSrc: ''
		        },
		        selected: true, //ให้สามารถเลือกแถวได้
		        columns: [ //กำหนด property ของ header column
                    { data: null ,title:"#"},
                    { data: "countryCode", title: "รหัสประเทศ" },
                    { data: "countryName", title: "ชื่อประเทศ" }
		        ],
		        "columnDefs": [ //กำหนด control เพิ่มเติมในแต่ละแถว
                    {
                        "targets": 0, //column ที่ 0 เป็นหมายเลขแถว
                        "data": null,
                        "render": function (data, type, full, meta) {
                            var html = "<button class='btn btn-warning'>Select</button>";
                            return html;
                        }
                    }
		        ],
		        destroy: true //ให้ล้างข้อมูลใหม่ทุกครั้งที่ reload page
		    });
		    $('#tbLOV tbody').on('click', 'tr', function () {
		        $('#tbLOV tbody tr.selected').removeClass('selected'); //ล้างทุก row ที่มีการ select ก่อน
		        $(this).addClass('selected'); //select row ใหม่
		    });
		    $('#tbLOV tbody').on('click', 'button', function () {
		        var dt = getRowData('#tbLOV', this);
		        $('#txtCountry').val(dt.countryCode);
		        $('#modalSearch').modal('hide');
		        showGrid();
		    });
		    $('#modalSearch').modal('show');
		}
        //ฟังก์ชั่นสำหรับ post ข้อมูลไปยัง web service เพื่อ save
		function saveData(){
			var data=getEditorData();
			$.post(urlSave,data)
				.done(function (response) {
                    //ซ่อน popup form แล้ว load grid
				    showPopupEditor('', 'hide');
					showGrid();
					bootbox.alert(response);
			});
		}
        //function for print
		function printData() {
		    location.href = urlReport + '&country=' + $('#txtCountry').val();
		}
    </script>
    <h1>@ViewBag.Header</h1>
    <div id="MainForm">
        <table>
            <tr>
                <td>
                    <input type="text" id="txtCountry" class="form-control" disabled />
                </td>
                <td>
                    <button id="btnSearch" class="btn btn-default" onclick="searchData()">Browse Country</button>
                </td>
                <td>
                    <button id="btnNew" class="btn btn-primary" onclick="newData()">Add New</button>
                </td>
                <td>
                    <button id="btnPrint" class="btn btn-success" onclick="printData()">Print</button>
                </td>
            </tr>
        </table>
         <table id="tbl" class="table table-responsive">
            <thead>
                <tr>
                    <th>oid</th>
                    <th>seq</th>
                    <th>code</th>
                    <th>name</th>
                    <th>country</th>
                    <th>view</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="modalSearch" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title"><label id="lblHeader">Edit Data</label></h4>
                </div>
                <div class="modal-body">
                    <table id="tbLOV" class="table table-responsive">
                        <thead>
                            <tr>
                                <th>
                                <th>code</th>
                                <th>name</th>
                            </tr>
                        </thead>
                    </table>                 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modalEditor" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h4 class="modal-title"><label id="lblHeader">Edit Data</label></h4>
                </div>
                <div class="modal-body">
                    <table>
                        <tr class="row">
                            <td>
                                <input type="text" id="txtID" class="form-control" style="display:none" />
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-3">
                                Port Code :
                                <input type="text" id="txtCode" class="form-control" />
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-8">
                                Port Name :
                                <input type="text" id="txtName" class="form-control" />
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="col-sm-8">
                                Country :
                                <select id="selCountry" class="form-control dropdown"></select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="btnSave" class="btn btn-success" type="submit" value="submit" onclick="saveData()">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
